<!DOCTYPE html>
<html>
<head>
    <title>0-access</title>
    <style>
body, html {width: 100%; height: 100%; margin: 0; padding: 0; background-color: black; color: white; font-family: monospace;}
.high-light {color:yellow;}
a {color: green}
    </style>
</head>
<body>
    <div id="main">
    </div>
    <script type="text/javascript">
var main = document.getElementById("main");
main.innerHTML = "root@openvcloud:/root# <span class=\"high-light\">Initializing ...</span>";
var launch = function (is_chrome) {
    main.innerHTML = "root@openvcloud:/root# <span class=\"high-light\">Provisioning your ssh session. Plz wait ...</span>";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var info = JSON.parse(this.responseText);
            var coninfo = info.username + "@" + info.ssh_ip + ":" + info.ssh_port;
            if (info.gateone_url) {
                if (info.private_ssh_ip) {
                    window.location = `${info.gateone_url}/?ssh=ssh://${info.username}:${info.password}@${info.private_ssh_ip}:22`;
                } else {
                    window.location = `${info.gateone_url}/?ssh=ssh://${info.username}:${info.password}@${info.ssh_ip}:${info.ssh_port}`;
                }
            }
            else if (is_chrome) {
                window.location = "chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#"+coninfo;
            } else {
                var sshcmd = "ssh -p " + info.ssh_port + " " + info.username + "@" + info.ssh_ip;
                main.innerHTML = "<a href='ssh://"+ coninfo + "'>" + sshcmd + "</a><br/>Password: "+info.password;
            }
        }
    };
    xhttp.open("POST", "/provision/{{remote}}", true);
    xhttp.send();
};
var is_chrome = ((navigator.userAgent.toLowerCase().indexOf('chrome') > -1) &&(navigator.vendor.toLowerCase().indexOf("google") > -1) && (navigator.userAgent.toLowerCase().indexOf('chromium') == -1));
launch(is_chrome);
    </script>
</body>
</html>
